@page "/admin/pets/delete"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using PawPal_integration.Domain
@using PawPal_integration.Data
@inject PawPalContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Delete Pet</PageTitle>

<h1>Delete Pet</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <hr />
    @if (Pet is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Pet.Name</dd>
            <dt class="col-sm-2">Breed</dt>
            <dd class="col-sm-10">@Pet.Breed</dd>
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@Pet.Age</dd>
        </dl>

        <EditForm Method="Post" Model="Pet" OnValidSubmit="DeletePet" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(Pet is null)">Delete</button> |
            <a href="/admin/pets">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Pet? Pet;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Pet = await Context.Pets.FirstOrDefaultAsync(m => m.Id == Id);

        if (Pet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePet()
    {
        if (Pet != null)
        {
            Context.Pets.Remove(Pet);
            await Context.SaveChangesAsync();
        }
        NavigationManager.NavigateTo("/admin/pets");
    }
}