@page "/admin/pets/details"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using PawPal_integration.Domain
@using PawPal_integration.Data
@inject PawPalContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]

<h3>Admin Pet Details</h3>

@if (Pet is null)
{
    <p>Loading...</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Pet.Name</dd>
        <dt class="col-sm-2">Breed</dt>
        <dd class="col-sm-10">@Pet.Breed</dd>
    </dl>
    <div>
        <a href="admin/pets/edit?id=@Pet.Id">Edit</a> |
        <a href="admin/pets">Back to List</a>
    </div>
}

@code {
    [SupplyParameterFromQuery] public int Id { get; set; }
    private Pet? Pet;

    protected override async Task OnInitializedAsync()
    {
        Pet = await Context.Pets.FirstOrDefaultAsync(m => m.Id == Id);
        if (Pet is null) NavigationManager.NavigateTo("notfound");
    }
}