@page "/admin/pets/edit"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using PawPal_integration.Domain
@using PawPal_integration.Data
@inject PawPalContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Edit Pet</PageTitle>

<h1>Edit Pet</h1>

<hr />
@if (Pet is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Method="Post" Model="Pet" OnValidSubmit="UpdatePet" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Pet.Id" value="@Pet.Id" />

                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Pet.Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="breed" class="form-label">Breed:</label>
                    <InputText id="breed" @bind-Value="Pet.Breed" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="imageurl" class="form-label">Image URL:</label>
                    <InputText id="imageurl" @bind-Value="Pet.ImageUrl" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputTextArea id="description" @bind-Value="Pet.Description" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/admin/pets" class="btn btn-secondary">Cancel</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Pet? Pet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Pet ??= await Context.Pets.FirstOrDefaultAsync(m => m.Id == Id);

        if (Pet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdatePet()
    {
        if (Pet != null)
        {
            Context.Attach(Pet).State = EntityState.Modified;
            try
            {
                await Context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                if (!PetExists(Pet.Id))
                {
                    NavigationManager.NavigateTo("notfound");
                }
                else
                {
                    throw;
                }
            }
            NavigationManager.NavigateTo("/admin/pets");
        }
    }

    private bool PetExists(int id) => Context.Pets.Any(e => e.Id == id);
}