@page "/shelters/create"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using PawPal_integration.Domain
@using PawPal_integration.Data
@inject PawPalContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Create Shelter</PageTitle>

<h1>Create Shelter</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Method="Post" Model="Shelter" OnValidSubmit="AddShelter" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Shelter.Name" class="form-control" />
                <ValidationMessage For="() => Shelter.Name" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <InputText id="address" @bind-Value="Shelter.Address" class="form-control" />
                <ValidationMessage For="() => Shelter.Address" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/shelters" class="btn btn-secondary">Back to List</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Shelter Shelter { get; set; } = new();

    private async Task AddShelter()
    {
        Context.Shelters.Add(Shelter);
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("/shelters");
    }
}